@CHARSET "UTF-8";

/**
 * QuickAddToCart css
 *
 * @category    Aydus
 * @package     Aydus_QuickAddToCart
 * @author     	Aydus Consulting <davidt@aydus.com>
 */

#quickaddtocart {
}
 
.quickaddtocart-border {
	clear: both;
}

.quickaddtocart-search-text {
	list-style: decimal;
	list-style-position: inside;
	padding-bottom: 12px;
}

.quickaddtocart-search-input {
	padding-bottom: 12px;
}

.progress {
	display: none;
}

#quickaddtocart_form {
	display: none;
}

#quickaddtocart_form .message {
	padding-bottom: 10px;
}

.quickaddtocart-results {
	display: none;
}

.quickaddtocart-results-items {
	width: 100%;
	margin-bottom: 20px;
}

.items {
	position: relative;
	left: 0;
	overflow: hidden;
}

.quickaddtocart-result {
	width: 238px;
	float: left;
	padding: 0 0 10px 0;
}

.quickaddtocart-result label {
	padding-right: 3px;
	font-weight: bold;
}

.quickaddtocart-image img {
	width: 135px;
	height: 135px;
}

.quickaddtocart-form-button-container {
	clear: both;
	width: 100%;
	padding: 10px 0 10px 0;
}

.quickaddtocart-form-button  {
	margin: 0 auto 10px;
	float: left;
}	

.quickaddtocart-form-checkout {
	float: right;
}

.checkout-button {
	display: none;
}

.quickaddtocart-results-items, .quickaddtocart-name, .quickaddtocart-sku, .quickaddtocart-addtocart {
	padding-top: 10px;
}

.quickaddtocart-name a {
	font-weight: bold;
}
		
.quickaddtocart-checkbox {
	margin-right: 6px;
}

.quickaddtocart-button {
	margin-left: 0;
}

.quickaddtocart-qty-label {
	font-weight: bold;
	float: left;
	margin-right: 15px;
}

.quickaddtocart-qty {
	width: 15px;
}

#quickaddtocart_cart .page-title {
	margin-bottom: 0;
}

.quickaddtocart-cart {
	position: relative;
}

.quickaddtocart-cart .cart-table {
}

.quickaddtocart-cart-loading {
	display: none;
	background-color: white;
	opacity: .6;
	width: 100%;
	height: 100%;
	min-height: 200px;
    position: absolute;
    left: 0;
    top: 0;
   	z-index: 2;
	white-space: nowrap;
    text-align: center;  
}

.quickaddtocart-cart-progress {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.cart-progress {
    vertical-align: middle;
    max-height: 16px;
    max-width: 16px;
}

.cart-footer-action {
	display: inline-block;	
	margin: 0 auto;
}

.shopping-cart {
	float: left;
}

.cart-subtotal span {
	text-decoration: none !important;
	color: initial !important;
	cursor: auto;
	text-align: center;
}

#quickaddtocart_cart .checkout-button {
	float: right;
}